<!DOCTYPE html>
<html>

<head>
    <title>Your Pokemon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="d1">
        <p class="p1"><img style="vertical-align: middle;"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png"></img>RANDOM
            POKEMON - {{results[2]}}<img style="vertical-align: middle;"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png"></img></p>
    </div>
    <div class="d2">
        <div class="d3">
            <div class="d4">
                <table class="t1">
                    <thead>
                        <tr style="background-color: red; color: white" class="tr1">
                            <th class="th1">Image</th>
                            <th class="th1">Number</th>
                            <th class="th1">Name</th>
                            <th class="th1">Height</th>
                            <th class="th1">Weight</th>
                            <th class="th1">Type One</th>
                            <th class="th1">Type Two</th>
                            <th class="th1">Ability One</th>
                            <th class="th1">Ability Two</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr1">
                            <td><img src={{results[0]}}></td>  
                            <td>{{results[1]}}</td>  
                            <td>{{results[2]}}</td>  
                            <td>{{results[3]}}</td>
                            <td>{{results[4]}}</td>
                            <td>{{results[5]}}</td> 
                            <td>{{results[6]}}</td> 
                            <td>{{results[7]}}</td> 
                            <td>{{results[8]}}</td> 
                        </tr>
                    </tbody>
                    <tr class="tr1">
                        <td colspan="10" style="text-align: center;">
                            <p style="margin-bottom: 0;">Would you like to catch this pokemon?</p>
                            <table style="width: 95%; margin-left: auto; margin-right: auto; padding-bottom: 10px;">
                                <tr>
                                    <th colspan="1" style="text-align: center; width:50%">
                                        <form action="/save" method="post"><input hidden name="number" value={{results[1]}}><input required class="i1" id="nicknameInput" type="text" name="nickname" placeholder="Enter Nickname . . . "><button type="submit" class="b1" value="Catch" onClick="validate()">Catch</button></form>
                                    </th>
                                    <th colspan="1" style="text-align: center; width:50%">
                                        <button class="b2" onClick="window.location.reload();">Run Away</button>
                                    </th>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script>
        function validate() {
            if(document.getElementById("nicknameInput").value.length == 0)
            {
                alert("Give your pokemon a nickname before saving!")
            }
        }
    </script>
</body>

</html>