<!DOCTYPE html>
<html>

<head>
    <title>Your Pokémon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body style="font-family: 'Courier', monospace;
    font-smooth: never;
    -webkit-font-smoothing : none;">
    <div class="d1">
        <p class="p1"><img style="vertical-align: middle;"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png"></img>YOUR
            POKÉMON<img style="vertical-align: middle;"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png"></img></p>
    </div>
    <div class="d2">
        <div class="d3">
            <div class="d4">
                <table class="t1">
                    <thead>
                        <tr style="background-color: red; color: white" class="tr1">
                            <th class="th1">Image</th>
                            <th class="th1">Number</th>
                            <th class="th1">Name</th>
                            <th class="th1">Nickname</th>
                            <th class="th1">Height</th>
                            <th class="th1">Weight</th>
                            <th class="th1">Type One</th>
                            <th class="th1">Type Two</th>
                            <th class="th1">Ability One</th>
                            <th class="th1">Ability Two</th>
                            <th class="th1">Remove?</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}  
                            <tr class="tr1">  
                                <td><img src={{result[10]}}></td> 
                                <td>{{result[3]}}</td>
                                <td>{{result[1]}}</td>  
                                <td>{{result[2]}}</td>
                                <td>{{result[4]}}</td> 
                                <td>{{result[5]}}</td> 
                                <td>{{result[6]}}</td> 
                                <td>{{result[7]}}</td>     
                                <td>{{result[8]}}</td>     
                                <td>{{result[9]}}</td>   
                                <td><form action="/delete_pokemon" method="post"><input hidden name="id" value={{result[3]}}><button class="b2" type="submit" value="1">Remove</button></form></a></td>
                            </tr>  
                        {% endfor %} 
                        <tr class="tr1">
                            <td colspan="11">
                                <table style="width: 95%; margin-left: auto; margin-right: auto;">
                                    <tr>
                                        <th colspan="1" style="text-align: right; width:50%; padding-right: 10px;">
                                            Catch More?
                                        </th>
                                        <th colspan="1" style="text-align: left; width:50%; padding-left: 10px;">
                                            <button class="b1" onclick="location.href='/catch'" type="button"> Catch More Pokémon!</button>
                                        </th>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>