<!DOCTYPE html>
 <html>
 <head>
     <title>Pokémon Caught!</title>
     <link rel="icon" href="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
 </head>

 <body>

     <div class="d2">
         <div class="d3">
             <div class="d4">
                <table class="t1">
                    <thead>
                        <tr style="background-color: red; color: white; padding: 0" class="tr1">
                            <th class="th1"><h3 style="margin-bottom: 0; padding-bottom: 0">{{msg}}<br><img src={{img}}></h3></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr1">
                            <td><a href="/pokedex">View Pokédex</a></td>
                        </tr>
                        <tr class="tr1">
                            <td><a href="/catch">Catch Another Pokémon</a></td>
                        </tr>
                    </tbody>
                </table>
             </div>
         </div>
     </div>
 </body>
 </html>
