<!DOCTYPE html>
 <html>
 <head>
     <title>Pokémon Caught!</title>
     <link rel="icon" href="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
 </head>

 <body>
     <h3>{{msg}}<img src={{img}}></h3>
     <a href="/pokedex">View Pokédex</a><br>
     <a href="/catch">Catch Another Pokémon</a><br>

     <div class="d2">
         <div class="d3">
             <div class="d4">
               
             </div>
         </div>
     </div>
 </body>
 </html>
